.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.src-bar {
  
}

.pho-lib {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

.brd-box {
  border-radius: 7px;
  box-shadow: 0 2px 15px;
  width: 1200px;
  min-height: 800px;
  padding: 1px;
  background-color: lightcyan;
}

.header {
  width: auto;
  height: 100px;
  background-color: darkgray;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-add {
  grid-area: btn-add;
}

.lib {
  grid-area: lib;
}